<%- include("./partials/nav.ejs") %>

    <body>
        <form action="/newmovie" method="POST">
            <label for="name">add movie</label>
            <input type="text" id="name" name="name" required>
            <label for="name"> movie year</label>
            <input type="int" id="year" name="year" required>
            <label for="telname"> telnamer</label>
            <input type="text" id="telname" name="telname">


            <button>Submit</button>
        </form>
    </body>




    </html>