<%- include("./partials/nav.ejs") %>

    <body>
        <form action="/newcommentu" method="POST">
            <label for="text">add comment</label>
            <input type="text" id="txet" name="text" required>
            <label for="name">your name</label>
            <input type="text" id="name" name="name" required>
            <label for="movieid">movieid</label>
            <input type="text" id="movieid" name="movieid">

            <label for="parentid">parentid</label>
            <input type="text" id="parentid" name="parentid">
            <button>Submit</button>
        </form>
    </body>




    </html>