<%- include("./partials/nav.ejs") %>

    <body>
        <form action="/signup" method="POST">
            <label for="username">username</label>
            <input type="text" id="username" name="username" required>
            <label for="password"> password</label>
            <input type="int" id="password" name="password" required>
            <label for="favmovie">faaa</label>
            <input type="favmovie" id="favmovie" name="favmovie">


            <button>Submit</button>
        </form>
    </body>




    </html>